.list-wrapper {
  padding: 56px 51px;
  border: 1px solid #e6e6e6;
  border-radius: 16px;
  box-shadow: 0px 3px 6px 2px #00000036;
  margin-top: 27px;
}
.list-wrapper h4 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #002349;
  text-decoration: underline;
}
.list-links-wrapper ul {
  padding: 0px;
  list-style: none;
}
.list-links-wrapper ul li {
  line-height: 2;
}
.list-links-wrapper ul li a {
  color: #31acee;
  font-size: 15px;
  font-family: "Poppins";
  font-weight: 500;
}
.list-links-wrapper {
  margin-top: 28px !important;
}
.create-your-list h3 {
  font-family: "Poppins";
  font-size: 35px;
  font-weight: 600;
  color: #002349;
}
.list-wrapper .video:before {
  content: "";
  width: 80%;
  height: 1px;
  display: flex;
  background: #e6e6e6;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  margin-bottom: 32px;
}
.list-wrapper .description:after {
  content: "";
  width: 1px;
  height: 196px;
  display: block;
  background: #e6e6e6;
  position: absolute;
  left: 95%;
  top: 10%;
}
.list-wrapper .description {
  width: 90%;
}
